/*Reset Global*/
* {
    margin: 0;
    padding: 0;
}

/*Cria variáveis*/
:root {
    --margem: 0.5rem; /*variavel que define a margem, pode ser adicionada em qualquer elemento*/
}

/*Cria animação*/
@keyframes pular {
    0%{transform: scale(1);}
    100%{transform: scale(1.2);}
}

/*estiliza o corpo*/
body {
    background-color: white;
}

/*Estiliza o topo da página*/
nav {
    display: flex;
    justify-content: end;
    gap: 2px;
    max-width: 100%;
    height: 6vh;
    background-color: #10108e;
}

/*Estiliza os links*/
.linksHeader {
    display: flex;
    align-items: center;
    margin: 2vh;
    color: white;
    text-decoration: none;
    font-family: arial;
    font-weight: bold;
    transition: 0.2s, 0.2s;
}

/*Ao passar o mouse em cima*/
.linksHeader:hover {
    transform: scale(1.1);
}

/*container da logo*/
#logoCurso {
    display: flex;
    justify-content: center;
}

/*logo*/
.logo {
    background-image: url(/img/eduvaleLogo.png);
    background-size: contain;   /* Garante que a imagem apareça inteira */
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    aspect-ratio: 2/1;
    margin: 10px;
}

/*container dos cards dos professores*/
.docentes-conteiner {
    display: flex;
    flex-wrap: wrap;/*ao passar do limite estabelecido quebra o elemento para linha de baixo*/
    gap: 1.5rem; /*gap determina o espaçamento entre os elementos*/
    margin: 2rem;
}

/*container dos professores*/
.docente {
    display: flex; 
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    background-color: white;
    padding:20px;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s ease;
}

h1 {
    color: black;
}

/*estiliza o nome do professor*/
.docente h2 {
    margin: 0px;/*remove a margem padrão do título*/
}

/*estiliza a imagem do professor*/
.docente img {
    width: 120px;
    height: 120px;
    object-fit: cover;/*garante que a imagem preencha o espaço definido sem distorção*/
    border-radius: 50%;
}

/*Ao passar o mouse em cima do card do professor*/
.docente:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

/* quando clicar */
.docente.ativo .descricao {
    display: flex;
    flex-wrap: wrap;
    max-height: 16rem;/*define a altura máxima para mostrar a descrição quando o card está ativo*/
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16rem;
}

/* descrição escondida */
.descricao {
    max-height: 0px;/*define a altura máxima como 0 para esconder a descrição quando o card não está ativo*/
    overflow: hidden;/*esconde o conteúdo da descrição quando o card não está ativo*/
    transition: max-height 0.4s ease;/*define a transição suave para a altura máxima da descrição quando o card é ativado ou desativado*/
    font-size: 18px;/*define o tamanho da fonte para a descrição do professor*/
    color: #555;
    overflow-wrap: break-word;
    word-break: break-word;
    text-align: justify; 
    padding-top: 15px;/*define o preenchimento superior para a descrição do professor para criar um espaço entre o nome e a descrição*/
    line-height: 1.5;/*define o espaçamento entre as linhas da descrição do professor para melhorar a legibilidade*/
}

/*estiliza a área de atuação do professor*/
.area {
    color: #ffcc00;
    font-weight: bold;/*define a cor e o peso da fonte para destacar a área de atuação do professor*/
}