/*Reset Global*/
* {
    margin: 0;
    padding: 0;
}

/*Cria variáveis*/
:root {
    --margem: 0.5rem; /*variavel que define a margem, pode ser adicionada em qualquer elemento*/
}

/*Cria animação*/
@keyframes pular {
    0%{transform: scale(1);}
    100%{transform: scale(1.2);}
}

body {
    background-color: white;
}

/*Estiliza o topo da página*/
nav {
    display: flex;
    justify-content: end;
    gap: 2px;
    max-width: 100%;
    height: 6vh;
    background-color: blue;
}

/*Estiliza os links*/
.linksHeader {
    display: flex;
    align-items: center;
    margin: 2vh;
    color: white;
    text-decoration: none;
    font-family: arial;
    font-weight: bold;
    transition: 0.2s, 0.2s;
}

/*Ao passar o mouse em cima*/
.linksHeader:hover {
    transform: scale(1.1);
}

/*container da logo*/
#logoCurso {
    display: flex;
    justify-content: center;
}

/*logo do curso*/
.logo {
    background-image: url(/img/eduvaleLogo.png);
    background-size: contain;   /* Garante que a imagem apareça inteira */
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    aspect-ratio: 2/1;
    margin: 10px;
}

/*imagem dentro do container*/
.imagemDiv {
    background-image: linear-gradient(to bottom, black 60%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    min-height: 100px;
    height: auto;
    width: 400px;
    border-radius: 5px;
}

/*estiliza fonte do titulo da da seção*/
#titulo1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: 'orbitron', sans-serif;
    font-weight: bold;
    font-style: normal;
}

/*titulo da seção de projetos*/
#titulo2 {
    display: block;
    margin-top: 100px;
    margin-left: 20px;
    font-family: 'silkscreen', sans-serif;
    font-weight: bold;  
    font-style: normal;
}

/*estiliza a div que contem o resumo do projeto fazendo uma separação de tópicos*/
.containerProjeto {
    border: 1px solid #5c5c5ca0;
}

/*estiliza titulos dos projetos*/
.projeto {
    display: flex;
    margin: 20px;
    font-family: 'orbitron', sans-serif;
    font-weight: bold;
}

/*estiliza o resumo dos projetos*/
.resumoProjeto {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    word-break: normal;
    overflow-wrap: break-word;
}